@{
    ViewData["title"] = "Privacy Policy";
    ViewData["container"] = "container-fluid";

}


<div class="row py-4">
    @await Html.PartialAsync("_sideMenu.cshtml")
    <div class="col-md-9">
        @* <div class="card">
            <div class="card-header">
                <h5 class="main-content-label font-weight-semibold tx-primary mb-0">
                    Basic HTML:
                </h5>
            </div>
            <div class="card-body">
                <p style="color:#000000;">
                    Lorem ipsum dolor sit amet, consectetur <strong>adipisicing elit</strong>. Accusamus <u>asperiores beatae culpa itaque iusto</u> nesciunt perferendis praesentium sint! Amet aut, corporis culpa dolorem fugiat <i>iusto maiores pariatur quidem</i> saepe voluptatibus.
                </p>
                
                <style>
                    .black{
                        color: #000000;
                    }
                    .grey-background{
                        background: #cccccc;
                    }
                    .paragraph-format{
                        padding: 100px;
                        margin-top: 50px;
                    }
                </style>
                <p class="black grey-background paragraph-format">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus <u>asperiores beatae culpa itaque iusto</u> nesciunt perferendis praesentium sint! Amet aut, corporis culpa dolorem fugiat <i>iusto maiores pariatur quidem</i> saepe voluptatibus.
                </p>
            </div>
        </div> *@
        <p>
            privacy policy
        </p>
    </div>
</div>
